# Automatically normalize line endings for text files
* text=auto

# Handle line endings for specific files
*.js     text eol=lf
*.jsx    text eol=lf
*.css    text eol=lf
*.json   text eol=lf
*.html   text eol=lf
*.md     text eol=lf
*.txt    text eol=lf