.sidebar-open {
    width: 240px;
}

.sidebar-closed {
    width: 70px;
}

.sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.toggle-btn {
    margin-left: auto;
}

.MuiDrawer-paper {
    transition: width 0.3s;
}


